*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;

}
#calcu{
    padding: 20px;
    background-color: crimson;
}
h1{
    padding: 0 5px;
    width: 95;
    height: 50px;
    background-color: skyblue;
    color: white;
    text-align: end;

}
.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    width: 40px;
    height: 40px;
}